annotated-types==0.7.0
asgiref==3.8.1
camel-converter==4.0.1
certifi==2024.12.14
charset-normalizer==3.4.1
django==5.1.5
djangorestframework==3.15.2
faker==35.1.0
idna==3.10
meilisearch==0.33.1
pydantic==2.10.6
pydantic-core==2.27.2
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.12.2
urllib3==2.3.0
